<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="ELITE HACKING MENU">

  <item label="gnome-terminal">
    <action name="Execute">
      <execute>gnome-terminal --geometry=160x45+75+50</execute>
    </action>
  </item>

  <item label="chrome (work)">
    <action name="Execute">
      <execute>
        google-chrome
            OCD_PROXY_PAC_URL
            --user-data-dir=OCD_USER_HOME.config/google-chrome/Work
      </execute>
    </action>
  </item>

  <item label="chrome (!work)">
    <action name="Execute">
      <execute>
        google-chrome 
            --user-data-dir=OCD_USER_HOME/.config/google-chrome/Personal
      </execute>
    </action>
  </item>

  <separator />

  <menu id="displays" label="Displays" execute="~/.config/openbox/pipemenus/displays" />

  <menu id="client-list-combined-menu" />

  <separator />

  <menu id="Debian" />

  <item label="ObConf">
    <action name="Execute"><execute>obconf</execute></action>
  </item>

  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>

  <item label="Restart">
    <action name="Restart" />
  </item>

  <separator />

  <item label="Exit">
    <action name="Exit" />
  </item>

</menu>

</openbox_menu>
