<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="ELITE HACKING MENU">

  <item label="urxvtc">
    <action name="Execute">
      <execute>urxvtc -geometry 100x35+50+50 -name 'ELITE HACKING TERMINAL'</execute>
    </action>
  </item>

  <item label="chrome">
    <action name="Execute">
      <execute>
        run-chrome
      </execute>
    </action>
  </item>

  <item label="chrome (work)">
    <action name="Execute">
      <execute>
        run-chrome work
      </execute>
    </action>
  </item>

  <separator />

  <menu id="displays" label="Displays" execute="~/.config/openbox/pipemenus/displays" />

  <menu id="client-list-combined-menu" />

  <separator />

  <menu id="Debian" />

  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>

  <item label="Restart">
    <action name="Restart" />
  </item>

  <separator />

  <item label="Exit">
    <action name="Exit" />
  </item>

</menu>

</openbox_menu>
